@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Sedgwick+Ave&display=swap');

.text1 {
    color: gray;
    font-size: 7.5em;
    text-align: center;
    padding: 1.5em;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-weight: bold;
}

.text2 {
    color: #455A64;
    display: flex;
    font-family: 'Sedgwick Ave', cursive;
    font-size: 2em;
    text-align: start;
    margin-right: 4em;
    margin-left: 2em;
    border: 0.5rem solid;
    border-radius: 12px;
    padding: 1rem;
}